# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pkl
*.egg
*.egg-info
dist/
build/
*.log

# PyCharm
.idea/

# Virtual Environment
.venv/
venv/
env/

# Package distribution
*.tar.gz
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
env/
venv/

# Configuration files
*.env

# Ignore all log files except those in temp_data
!temp_data/*.log

# Ignore all JSON and CSV files globally (if needed) except in temp_data
*.json
*.csv
!temp_data/*.json
!temp_data/*.csv

