beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
ConfigSpace==0.4.21
Cython==3.0.12
dask==2023.5.0
distributed==2023.5.0
distro==1.9.0
emcee==3.1.6
fsspec==2025.3.0
gensim==4.3.3
idna==3.10
ijson==3.3.0
importlib_metadata==8.5.0
Jinja2==3.1.6
joblib==1.4.2
liac-arff==2.5.0
locket==1.0.0
MarkupSafe==2.1.5
msgpack==1.1.0
numpy==1.24.4
packaging==24.2
pandas==2.0.3
partd==1.4.1
psutil==7.0.0
pynisher==0.6.4
pyparsing==3.1.4
pyrfr==0.8.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
scikit-learn==0.24.0
scipy==1.10.1
six==1.17.0
smac==1.2
smart-open==7.1.0
sortedcontainers==2.4.0
soupsieve==2.6
tblib==3.0.0
threadpoolctl==3.5.0
toolz==1.0.0
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
wrapt==1.17.2
zict==3.0.0
zipp==3.20.2
imbalanced-learn~=0.12.4
